body {
    background-color: rgba(241, 241, 241, 0.849);
}

#main-img {
  margin-left: 20%;
  margin-top: 3%;
}

#form {
  padding: 1% 6% 6% 6%;
  position: absolute;
  top: 10%;
  left: 51%;
  border: 1px solid rgb(214, 214, 214);
  background-color: rgb(255, 255, 255);

}

#form h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

#form .inputs {
  width: 150%;
  /* margin-top: 3%; */
  margin-bottom: 5%;
  font-size: 13px;
  height: 25px;
  /* margin-right: 10%; */
  padding: 4%;
  margin-left: -25%;
  background-color: rgba(241, 241, 241, 0.849);
  border: none;
  border-radius: 3px;
}

.login {
  background-color: rgb(73, 178, 219);
  border: none;
  height: 20px;
  color: white;
  padding: 5% 0 5% 0;
  width: 158%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 30%;
  margin-right: 10%;
  margin-left: -25%;
  border-radius: 8px;
  font-weight: 600;
}

#fb {
  margin-top: 10%;
  color: #385185;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 58%;
}

#forgot {
  text-decoration: none;
  color: rgb(8, 26, 8);
  position: absolute;
  top: 50%;
  right: 34%;
}

#second-form p {
  padding: 1% 6% 1% 2%;
  position: absolute;
  top: 60%;
  left: 51%;
  border: 1px solid rgb(214, 214, 214);
  background-color: rgb(255, 255, 255);
  width: 15%;
  font-weight: 500;
}

#sign {
  margin: 5px;
  color: rgb(73, 178, 219);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#third-form{

    padding: 1% 6% 2% 6%;
    position: absolute;
    top: 72%;
    left: 49%;
    border: none;
}

p{

    text-align: center;
}

.btn{

    background-color: black;
    color: white;
    border-radius: 3px;
    border: 1px solid;
    width: 110px;
    height: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}



#footer{
    margin: 4% 10% 0 10%;
    text-align: center;
    font-family: sans-serif;
    color: #8e8e8e
}


#footer li{
    list-style: none;
    display: inline;
    margin-right: 25px;
    vertical-align: 20px;
}




